<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MovieDB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MovieDBAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MovieDBCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MovieDBiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7011E90F28247B940051AB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7095F6B12821972200067D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7095F6B92821972200067D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F64AB02843DAA300102ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F64AC02843EF5D00102ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F64AC72843EF5E00102ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
